.textcolor{
    color: white;
}

.btn-round {
    border-radius: 30px;
    width: 120px;
    font-size: 14px;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: grey;
  }