  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top my-3">
    <a href="https://openebs.io/" target="_blank" class="navbar-brand">
      <img src="assets/openebs-logo-mule.svg" style="width:132px;height:32px">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="navbar-brand">
          <a href="https://docs.openebs.io/" target="_blank" class="nav-link">
            <div class="text-dark">Docs</div>
          </a>
        </li>
        <li class="navbar-brand">
          <a href="https://openebs.io/litmus" target="_blank" class="nav-link">
            <div class="text-dark">Litmus</div>
          </a>
        </li>
        <li class="navbar-brand">
          <a href="#" class="nav-link">
            <div class="text-dark">Test</div>
          </a>
        </li>
        <li class="navbar-brand">
          <a href="https://github.com/openebs/" target="_blank" class="nav-link">
            <div class="text-dark">Github</div>
          </a>
        </li>
        <li class="navbar-brand">
          <a href="https://blog.openebs.io/" target="_blank" class="nav-link">
            <div class="text-dark">Blog</div>
          </a>
        </li>
        <li class="navbar-brand">
          <a href="https://openebs.io/faq" target="_blank" class="nav-link">
            <div class="text-dark">FAQ</div>
          </a>
        </li>
        <li class="navbar-brand">
          <a href="https://slack.openebs.io/" target="_blank" class="nav-link">
            <div class="text-dark">Slack</div>
          </a>
        <li class="navbar-brand">
          <a href="https://twitter.com/openebs" target="_blank" class="nav-link">
            <div class="text-dark">Twitter</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>


        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th width="25%">Workload</th>
              <th width="25%">Status</th>
              <th width="25%">Version</th>
              <th width="25%">Configration</th>
            </tr>
          </thead>
          <tbody class="table-light">
            <tr>
              <td><img src="assets/mong.png" class="mt-3" style="height:50px;width:70px"><a href="https://mongojiva.test.openebs.io/" target="_blank" ><br>MongoDB</a></td>
              <td>
              <div [ngSwitch]="color">
                <div *ngSwitchCase="'blue'">
                    <button type="button" class="btn btn-round btn-primary my-4">
                      <i class="fa fa-circle-o-notch fa-spin" style="font-size:18px"></i> Running
                    </button>
                </div>
                <div *ngSwitchCase="'green'">
                    <button type="button" class="btn btn-round btn-success my-4">
                      <i class="fa fa-check-circle" style="font-size:18px"></i> Success
                    </button>
                </div>
                <div *ngSwitchCase="'red'">
                    <button type="button" class="btn btn-round btn-danger my-4">
                      <i class="fa fa-exclamation-triangle" style="font-size:18px"></i> Failure
                    </button>
                  </div>
                <div *ngSwitchDefault>
                    <button type="button" class="btn btn-round btn-basic my-4">
                        <i class="fa fa-clock-o" style="font-size:18px"></i> Pending
                    </button>
                </div>
              </div>
              </td>
              <td><br>0.7</td>
              <td><br>Application Replica : 2,<br>OpenEBS Replica : 1/application </td>
            </tr>
          </tbody>
      </table>

  <div class="container-fluid" style="background-color: rgb(34, 34, 43)">
    <div class="jumbotron-fluid">
      <div class="row content">
        <div class="col-sm-2 my-5"></div>

        <div class="col-sm-7 my-5">
          <table class="table table-borderless">
            <tbody class="textcolor">
              <tr>
                <td><a href="https://openebs.io/events" class="text-white" target="_blank">Events</a></td>
                <td><a href="https://openebs.io/careers" class="text-white" target="_blank">Careers</a></td>
                <td><a href="https://github.com/openebs/" class="text-white" target="_blank">Github</a></td>
              </tr>
              <tr>
                <td><a href="https://openebs.io/hackfests" class="text-white" target="_blank">Hackfests</a></td>
                <td><a href="https://openebs.io/faq" class="text-white" target="_blank">FAQ</a></td>
                <td><a href="https://slack.openebs.io/" class="text-white" target="_blank">Slack</a></td>
              </tr>
              <tr>
                <td><a href="https://openebs.io/hangout" class="text-white" target="_blank">Hangouts</a></td>
                <td><a href="https://openebs.io/newsletter/" class="text-white" target="_blank">Newsletters</a></td>
                <td><a href="https://blog.openebs.io/" class="text-white" target="_blank">Blogs</a></td>
              </tr>
              <tr>
                <td><a href="https://openebs.io/meetups" class="text-white" target="_blank">Meetup</a></td>
                <td><a href="https://www.youtube.com/channel/UC3ywadaAUQ1FI4YsHZ8wa0g" class="text-white" target="_blank">Videos</a></td>
                <td><a href="https://twitter.com/openebs" class="text-white" target="_blank">Twitter</a></td>
              </tr>
              <tr>
                <td><a href="https://openebs.io/cafe" class="text-white" target="_blank">Cafe</a></td>
                <td><a href="https://docs.openebs.io/" class="text-white" target="_blank">Docs</a></td>
                <td><a href="https://openebs.io/litmus" class="text-white" target="_blank">Litmus</a></td>
              </tr>
              <tr>
                <td><a href="https://www.katacoda.com/openebs/scenarios/openebs-intro" class="text-white" target="_blank">Training</a></td>
                <td><a href="https://docs.openebs.io/docs/releasenotes.html" class="text-white" target="_blank">Releases</a></td>
                <td><a href="https://www.mayadata.io/aboutus" class="text-white" target="_blank">About Us</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-2 my-5">
        <img src="assets/openebs-logo.svg" class="mt-4" style="width:122px;height:40px">
        <img src="assets/mayaonline-beta.svg" class="mt-4" style="width:142px;height:43px">
        <img src="assets/mayadata-logo.svg" class="mt-4" style="width:118px;height:35px">
        </div>
      </div>
    </div>
  </div>